# Prerequisites

*.d



# Compiled Object files

*.slo

*.lo

*.o

*.obj



# Precompiled Headers

*.gch

*.pch



# Compiled Dynamic libraries

*.so

*.dylib

*.dll



# Fortran module files

*.mod

*.smod



# Compiled Static libraries

*.lai

*.la

*.a

*.lib



# Executables

*.exe

*.out

*.app


# Log files
*.log

# Visual Studio files

/Builds/VisualStudio2017_x64/x64/*
/Builds/VisualStudio2017_x64/.vs/*

/Builds/VisualStudio2017_win32/Win32/*
/Builds/VisualStudio2017_win32/.vs/*

# Code Blocks files
/Builds/CodeBlocksWindows_win32/bin/*
/Builds/CodeBlocksWindows_win32/OneLittleSynthesizer.layout
